<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.lww.dao.PermissionsTypeDao" >
  <resultMap id="BaseResultMap" type="com.cn.lww.pojo.PermissionsType" >
    <id column="permissions_id" property="permissionsId" jdbcType="INTEGER" />
    <result column="permissions_name" property="permissionsName" jdbcType="VARCHAR" />
    <result column="permissions_identification" property="permissionsIdentification" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    permissions_id, permissions_name, permissions_identification
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from permissions_type
    where permissions_id = #{permissionsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from permissions_type
    where permissions_id = #{permissionsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.lww.pojo.PermissionsType" >
    insert into permissions_type (permissions_id, permissions_name, permissions_identification
      )
    values (#{permissionsId,jdbcType=INTEGER}, #{permissionsName,jdbcType=VARCHAR}, #{permissionsIdentification,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.lww.pojo.PermissionsType" >
    insert into permissions_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionsId != null" >
        permissions_id,
      </if>
      <if test="permissionsName != null" >
        permissions_name,
      </if>
      <if test="permissionsIdentification != null" >
        permissions_identification,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionsId != null" >
        #{permissionsId,jdbcType=INTEGER},
      </if>
      <if test="permissionsName != null" >
        #{permissionsName,jdbcType=VARCHAR},
      </if>
      <if test="permissionsIdentification != null" >
        #{permissionsIdentification,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.lww.pojo.PermissionsType" >
    update permissions_type
    <set >
      <if test="permissionsName != null" >
        permissions_name = #{permissionsName,jdbcType=VARCHAR},
      </if>
      <if test="permissionsIdentification != null" >
        permissions_identification = #{permissionsIdentification,jdbcType=VARCHAR},
      </if>
    </set>
    where permissions_id = #{permissionsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.lww.pojo.PermissionsType" >
    update permissions_type
    set permissions_name = #{permissionsName,jdbcType=VARCHAR},
      permissions_identification = #{permissionsIdentification,jdbcType=VARCHAR}
    where permissions_id = #{permissionsId,jdbcType=INTEGER}
  </update>
</mapper>